.password{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 800px;
    height: 700px;
    border: 1px solid #cfcfcd;
    border-radius: 5px;
    box-shadow: 3px 3px 15px #cfcfcd;
}
.passclass{
    display: flex;
    margin-top:20px;
    flex-direction: column;
}
.presenta{
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;

}
textarea {
    width: 750px;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-left: 26px;
}
textarea:invalid {
    border: 2px dashed red;
  }
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    margin-top: 6px;
    margin-left: 26px;
    font-size: 16px;
    color: #464141;
}
.genera{
    margin-top: 20px;
    border: 1px solid #cfcfcd;
    margin-left:26px;
    border-radius: 5px;
    font-size: 15px;
    height: 30px;
    width: 200px;
}
.genera:hover{
    margin-top: 20px;
    border: 1px solid #089608;
    background-color:#2fdb2f;
    border-radius: 5px;
    font-size: 15px;
    height: 30px;
    width: 200px;
}
.limpiar{
    margin-top: 20px;
    margin-right:26px;
    border: 1px solid #cfcfcd;
    border-radius: 5px;
    font-size: 15px;
    height: 30px;
    width: 200px;
}
.limpiar:hover{
    margin-top: 20px;
    border: 1px solid #e60c0c;
    background-color:#e60c0c;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    height: 30px;
    width: 200px;
}
.botonesdiv{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.error {
    color: red;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
  }
.todook {
    color: green;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
label[for="passwordcaracteres"] {
    font-weight: bold;
    color: blue;
}
input[type=radio]#long8 {
    accent-color: red ;
}
input[type=radio]#long12 {
    accent-color: blue;
}
input[type=radio]#long16 {
    accent-color:green;
}
